.formControl {

}

.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error input:focus,
.formControl.error textarea:focus {
    outline: none;
}

.formControl.error span {
    color: red;
}