.profileForm {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;

  input {
    border-radius: 50px;
    padding: 5px 10px;
    background-color: #f7f7f7;
    outline: none;
    border: 1px solid #8224e3;
    margin-bottom: 5px;
    color: #626c72;
  }

  button {
    margin-top: 10px;
  }
}