.wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-areas: "navbar header" "navbar content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    max-width: 1600px;
    min-height: 100vh;

    .content {
        grid-area: content;
        background-color: honeydew;
    }
}

.preloader {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}